.login_bg {
  background-image: url("../../public/images/login_bg2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.form-bg{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.input_bg {
    background-color: rgba(0, 0, 0, 0.3);
}